name: Workflow for SBOM Generation and Verification, SLSA Generation and Verification

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  combined-workflow:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the main repository
      - name: Checkout Main Repository.
        uses: actions/checkout@v3

      # Step 2: Clone Additional Repository
      - name: Clone Additional Repository1.
        run: |
          git clone https://github.com/lavakush07/easybuggy-vulnerable-application
          echo "Cloned additional repository: docker-nginx latest"
      
      # Step 3: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Docker Environment Variables
        run: |
          echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" >> $GITHUB_ENV
          echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}" >> $GITHUB_ENV
      
      # Step 4: Build and Tag Docker Image
      - name: Build and Tag Docker Image
        run: |
          cd easybuggy-vulnerable-application
          docker build -t ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1 .
          echo "Docker image built and tagged as ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1"
      
      # Step 5: Push the Docker Image to Docker Hub
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1
          echo "Docker image pushed to Docker Hub"
      
      # Step 6: Install Cosign
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.4.0

      # Step 7: Generate Cosign Key Pair at Runtime
      - name: Generate Cosign Key Pair
        run: |
          # Generate key pair with empty password for automation
          COSIGN_PASSWORD="" cosign generate-key-pair
          echo "Cosign key pair generated successfully"
          # Set environment variables for Cosign keys
          echo "COSIGN_KEY=$(pwd)/cosign.key" >> $GITHUB_ENV
          echo "COSIGN_PUBLIC_KEY=$(pwd)/cosign.pub" >> $GITHUB_ENV
          echo "COSIGN_PASSWORD=" >> $GITHUB_ENV
          # Display public key for reference
          echo "Public Key:"
          cat cosign.pub
      
      # Step 10: Run SBOM Generation Action

      - name: SBOM Generation
        uses: harness/github-actions/sbom-generation@1.1.0
        with:
          HARNESS_ACCOUNT_URL: https://qa.harness.io
          HARNESS_ACCOUNT_ID: ppbLW9YpRharzPs_JtWT7g
          HARNESS_ORG_ID: SSCA
          HARNESS_PROJECT_ID: SSCA_Sanity_Automation
          HARNESS_API_KEY: ${{ secrets.SCS_API_KEY }}
          TARGET: ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1
          TOOL: Syft
          FORMAT: spdx-json
          ATTEST: true
          KMS_KEY: ${{ env.COSIGN_KEY }}
        env:
          COSIGN_PASSWORD: ""
    

          
    # Step 11: Run SBOM Verification Action
    
      -  name: SBOM Verification
         uses: harness/github-actions/sbom-policy-enforcement@1.1.0
         with:
           HARNESS_ACCOUNT_URL: https://qa.harness.io
           HARNESS_ACCOUNT_ID: ppbLW9YpRharzPs_JtWT7g
           HARNESS_ORG_ID: SSCA
           HARNESS_PROJECT_ID: SSCA_Sanity_Automation
           HARNESS_API_KEY: ${{ secrets.SCS_API_KEY }}
           TARGET: ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1
           VERIFY: true
           POLICY_SET_REF: 'policy_for_at'
           KMS_KEY: ${{ env.COSIGN_PUBLIC_KEY }}
         env:
           COSIGN_PASSWORD: ""

     # Step 11: Run SLSA Generation Action

      -  name: SLSA Provenance Generation
         uses: harness/github-actions/slsa-generation@1.1.0
         with:
           HARNESS_ACCOUNT_URL: https://qa.harness.io
           HARNESS_ACCOUNT_ID: ppbLW9YpRharzPs_JtWT7g
           HARNESS_ORG_ID: SSCA
           HARNESS_PROJECT_ID: SSCA_Sanity_Automation
           HARNESS_API_KEY: ${{ secrets.SCS_API_KEY }}
           TARGET: ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1
           ATTEST: true
           KMS_KEY: ${{ env.COSIGN_KEY }}
         env:
           COSIGN_PASSWORD: ""  
  
      # Step 12: Run SLSA Verification Action

      - name: SLSA Verification
        uses: harness/github-actions/slsa-verification@1.1.0
        with:
          HARNESS_ACCOUNT_URL: https://qa.harness.io
          HARNESS_ACCOUNT_ID: ppbLW9YpRharzPs_JtWT7g
          HARNESS_ORG_ID: SSCA
          HARNESS_PROJECT_ID: SSCA_Sanity_Automation
          HARNESS_API_KEY: ${{ secrets.SCS_API_KEY }}
          TARGET: ${{ secrets.DOCKER_USERNAME }}/easy-buggy-app:demo1
          VERIFY: true
          KMS_KEY: ${{ env.COSIGN_PUBLIC_KEY }}
        env:
          COSIGN_PASSWORD: ""   